@{
    Layout = null;
    ViewBag.Title = "Login";
}

@model TCCVetCare.ViewModels.AuthenticationViewModel

<main class="mx-4">
    @using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Login</button>
        <br />
        <br />
        @ViewBag.user




    }
    @Html.ActionLink("Cadastrar", "RegisterCustomer", "Customer", new { area = "" }, new { @class = "btn btn-warning" })


</main>
